
*.fdt
Prac_5/.recommenders/caches/manual-mappings.json
Prac_5/.recommenders/caches/identified-project-coordinates.json
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fdx
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fnm
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.frq
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.nrm
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.prx
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.tii
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.tis
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments.gen
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_3
Prac_5/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
Prac_5/Prac5_1/.classpath
Prac_5/Prac5_1/.project
*.prefs
